@charset "utf-8";
*{margin:0px;
}
body{
    background-color: #AFAFAF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica, Arial", sans-serif;
	
}
#container{
    width: 100%;
    background-color: #E1E1E1;
    align: center;
}
nav{
    background-color: #E1E1E1;
    text-align:left;
	
}
ul{
    padding: 27px;
}
li{
    list-style-image: none;
    list-style-type: none;
    display: inline;
	padding:30px;
}
li a{
    color: #3B3B3B;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover{
    background-color: #79A0F8;
}

#container nav img {
    float: left;
    padding-left: 17px;
    padding-top: 3px;
}
